.ProductPage-C2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto auto auto;
}
.Item-background {
  height: 80vh;
  width: 60%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto;
  align-items: center;
  border-radius: 1vh;
  border: 0.3vh solid gray;
  justify-items: center;
}
.Item-Txt-1 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-align: center;
}
.Item-Txt-2 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-align: center;
}
.Item-Txt-3 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-align: center;
}
.Item-Txt-4 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-align: center;
}
.Item-Img-1 {
  height: 50vh;
  width: auto;
}
