.ItemList-background {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 5vh;
  grid-row-gap: 3vh;
  color: white;
}

/*ItemList-Item-background*/

.ItemList-Item-background {
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 2vh;
  color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-content: space-around;
  grid-row-gap: 1vh;
  border-radius: 1vh;
  border: 0.3vh solid gray;
}

.ItemList-Item-img {
  height: 20vh;
  width: 20vh;
  object-fit: contain;
}

.ItemList-Item-txt-1 {
  margin: 0;
  font-size: 1vw;
  font-weight: 600;
  color: black;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  width: 20vh;
}

.ItemList-Item-txt-2 {
  margin: 0;
  font-size: 1vw;
  font-weight: 500;
  color: gray;
}
